<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.dao.MenuMapper">

    <!-- 查询所有食物 -->
    <select id="selectAll" resultType="org.example.entity.entity.Menu">
        SELECT * FROM food
    </select>

</mapper>
